.navig {
    display: inline-block;
    background-color: rgb(168, 151, 151);
    width: 100% ;
    font-size: larger;
    word-spacing: 15px;
    text-align: center;
    padding: 15px;
}

.navig a, .btn {
    background-color: rgb(150, 135, 135);
    margin-right: 6px;
    border-radius: 7px;
    padding: 15px;
}
.navig a:hover, .btn:hover {
    background-color: black;
    color: white;
}
a:link, a:visited, .btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 100%;
}
img {
    width: 100%;
}
.about {
    background-color: #d8e2eb;
    
    padding: 20px;
}
.resume {
    background-color: #f4ede5;
    padding: 20px;
}

.work {
    background-color: #f0e9e4;
    padding: 20px;
}
.contact {
    background-color: #eee2db;
    padding: 20px;
}
footer {
    background-color: black;
    color: white;
    margin: 0;
    border: none;
}
